:root {
  --color-main-1st: #ffffff;
  --color-main-2nd: #f1f1f1;
  --color-accent-1st: #00cf3e;
  --color-accent-2nd: #dcffe7;
  --color-accent-3rd: #f7fffa;
  --color-trim-1st: #000000;
  --color-trim-2nd: #1d1d1da6;
  --color-text-1st: #222222;
  --color-text-2nd: #1d1d1da6;
}

[data-theme=dark] {
  --color-main-1st: #0d0d0f;
  --color-main-2nd: #15151b;
  --color-accent-1st: #00cf3e;
  --color-accent-2nd: #122016;
  --color-accent-3rd: #0e130e;
  --color-trim-1st: #ffffff;
  --color-trim-2nd: #ffffffa6;
  --color-text-1st: #ffffff;
  --color-text-2nd: #ffffffa6;
}

* {
  transition: 0.15s;
}

body {
  background-color: var(--color-main-1st);
  margin: 0;
  width: 100%;
  height: 100%;
  flex: 1;
  border: none;
  display: grid;
}

html {
  margin: 0;
  border: none;
  height: 100%;
  flex: 1;
}

p, li, td, tr, label {
  color: var(--color-text-1st);
  font-size: 16px;
  font-family: Arial;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

h2 {
  color: var(--color-text-1st);
  font-size: 24px;
  font-family: Arial;
  text-align: left;
  padding: 8px;
  margin: 0;
  padding-left: 20px;
}

button {
  color: var(--color-text-1st);
  font-size: 20px;
  font-family: Arial;
  box-shadow: none;
  border: 1px solid var(--color-trim-1st);
  background-color: transparent;
  border-radius: 15px;
  transition: 0.15s;
}

button:hover:not([disabled]):not(.selected) {
  border-color: var(--color-accent-1st);
  background-color: var(--color-accent-3rd);
  cursor: pointer;
}

.selected {
  border: 1px solid var(--color-accent-1st);
  background-color: var(--color-accent-2nd);
}

button:disabled {
  color: var(--color-text-2nd);
  border: 1px solid var(--color-trim-2nd);
  background-color: transparent;
}

svg {
  position: relative;
  fill: var(--color-trim-2nd);
  z-index: 0;
}

body {
  grid-template-rows: 75px 35px 60px 35px min-content 10px 50px 15px min-content 35px max-content 30px 25px 15px max-content min-content;
  grid-template-columns: 1fr minmax(600px, 1900px) 1fr;
  grid-template-areas: "h h     h" ". .     ." ". stageBox ." ". .     ." ". categoryHeaderBox ." ". .     ." ". categorySelectionBox ." ". .     ." ". categoryInfoBox ." ". .     ." ". votingBox ." ". .     ." ". errBox ." ". .     ." ". infoAndHelpBox ." ". mainErrorPane .";
  -moz-column-gap: 20px;
       column-gap: 20px;
}

#headerBox {
  grid-area: h;
  background-color: var(--color-main-2nd);
  border-bottom: 1px solid var(--color-trim-1st);
  padding-left: 20px;
  padding-right: 10px;
  display: grid;
  align-content: center;
  justify-content: center;
}
#headerBox > p {
  font-size: 28px;
  width: 100%;
  text-align: left;
}
#headerBox > button {
  border: none;
  background-color: transparent;
  width: 45px;
  height: 45px;
  font-size: 32px;
  position: absolute;
  padding: 0;
  left: calc(100% - 45px - 20px);
  top: 17px;
  transition: 0.15s;
}
#headerBox > button :hover {
  color: var(--color-accent-1st);
}

#stageBox {
  grid-area: stageBox;
  display: grid;
  grid-template-columns: 1fr repeat(3, 190px) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". f s e .";
}
#stageBox > div {
  padding: 0;
  display: grid;
  border-radius: 6px;
  position: relative;
}
#stageBox > div > svg {
  position: absolute;
  left: 100%;
  stroke-width: 1px;
  width: 34px;
  height: 34px;
  z-index: 1;
}

#stage1Box {
  grid-area: f;
}

#stage2Box {
  grid-area: s;
}

#stage3Box {
  grid-area: e;
}

.stageFlagDefault {
  background-color: var(--color-main-1st);
  border: 1px solid var(--color-trim-1st);
  margin: 10px;
  grid-template-rows: 1fr min-content 1fr 0px;
  grid-template-areas: "." "t" "." "arrow";
}
.stageFlagDefault > p:nth-child(1) {
  color: var(--color-text-2nd);
}
.stageFlagDefault > p:nth-child(2) {
  display: none;
}
.stageFlagDefault > svg {
  top: 2px;
  stroke: var(--color-trim-1st);
  fill: var(--color-main-1st);
}
.stageFlagDefault > p:nth-child(1) {
  grid-area: t;
  text-align: center;
}

.stageFlagActive {
  background-color: var(--color-accent-2nd);
  border: 1px solid var(--color-accent-1st);
  margin: 0;
  grid-template-rows: 1fr min-content 4px min-content 1fr 0px;
  grid-template-areas: "." "t" "." "c" "." "arrow";
}
.stageFlagActive > p:nth-child(2) {
  color: var(--color-text-2nd);
}
.stageFlagActive > svg {
  top: 12px;
  stroke: var(--color-accent-1st);
  fill: var(--color-accent-2nd);
}
.stageFlagActive > p {
  text-align: center;
}
.stageFlagActive > p:nth-child(1) {
  grid-area: t;
}
.stageFlagActive > p:nth-child(2) {
  grid-area: c;
  font-size: 18px;
}

#categoryHeaderBox {
  grid-area: categoryHeaderBox;
  text-align: center;
  color: var(--color-text-2nd);
  font-size: 18px;
}

#categorySelectionBox {
  grid-area: categorySelectionBox;
  display: grid;
  grid-template-columns: 1fr repeat(3, 160px) 1fr;
  -moz-column-gap: 15px;
       column-gap: 15px;
  grid-template-rows: 1fr;
  grid-template-areas: ". f s e .";
}

#categorySelectionBox > button:nth-child(1) {
  grid-area: f;
  overflow: visible;
}

#categorySelectionBox > button:nth-child(2) {
  grid-area: s;
  overflow: visible;
}

#categorySelectionBox > button:nth-child(3) {
  grid-area: e;
  overflow: visible;
}

#categoryInfoBox {
  grid-area: categoryInfoBox;
  text-align: center;
  width: 100%;
  overflow: hidden;
  transition: height 0.4s;
  height: 0px;
}

#categoryInfoBox.expanded {
  height: 25px;
}

#votingBox {
  grid-area: votingBox;
}

#votingBlock2Size {
  display: grid;
  grid-template-rows: max-content 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "vid1 vid2" "vote1 vote2";
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#votingBlock2Size > #embedBoxLeft {
  display: grid;
  justify-content: center;
  align-content: center;
  aspect-ratio: 16/9;
  width: 100%;
  background-color: var(--color-main-2nd);
  overflow: hidden;
  grid-area: vid1;
}
#votingBlock2Size > #embedBoxLeft > p {
  color: var(--color-text-2nd);
}
#votingBlock2Size > #embedBoxRight {
  display: grid;
  justify-content: center;
  align-content: center;
  aspect-ratio: 16/9;
  width: 100%;
  background-color: var(--color-main-2nd);
  overflow: hidden;
  grid-area: vid2;
}
#votingBlock2Size > #embedBoxRight > p {
  color: var(--color-text-2nd);
}
#votingBlock2Size > #embedBoxLeft:has(iframe) > svg {
  display: none;
}
#votingBlock2Size > #embedBoxRight:has(iframe) > svg {
  display: none;
}
#votingBlock2Size > div:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". b .";
  grid-area: vote1;
}
#votingBlock2Size > div:nth-child(3) > button {
  grid-area: b;
}
#votingBlock2Size > div:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". b .";
  grid-area: vote2;
}
#votingBlock2Size > div:nth-child(4) > button {
  grid-area: b;
}
#votingBlock2Size > div:nth-child(3) > button {
  grid-area: b;
}
#votingBlock2Size > div:nth-child(4) > button {
  grid-area: b;
}

#votingBlock5Size {
  display: grid;
  grid-template-rows: max-content 50px;
  grid-template-columns: minmax(0px, 360px) minmax(0px, 950px);
  grid-template-areas: "lis vid " "vote vote ";
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 30px;
  justify-content: center;
}
#votingBlock5Size > #rankedListBox {
  grid-area: lis;
  background-color: var(--color-main-2nd);
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
  border-radius: 10px;
}
#votingBlock5Size > #rankedListBox > div {
  background-color: var(--color-main-1st);
  border: 1px solid var(--color-trim-1st);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 70px 1fr min-content;
  grid-template-rows: 1fr min-content min-content 1fr;
  grid-template-areas: "d . pLabel" "d name pLabel" "d number pLabel" "d . pLabel";
  transition: none;
  transition: border 0.15s, background-color 0.15s;
}
#votingBlock5Size > #rankedListBox > div > :nth-child(1) {
  grid-area: d;
  display: grid;
  align-content: center;
  justify-content: center;
}
#votingBlock5Size > #rankedListBox > div > :nth-child(1) > i {
  font-size: 30px;
  color: var(--color-text-2nd);
  padding: 8px;
}
#votingBlock5Size > #rankedListBox > div > :nth-child(1) :hover {
  cursor: move;
}
#votingBlock5Size > #rankedListBox > div > :nth-child(2) {
  grid-area: name;
}
#votingBlock5Size > #rankedListBox > div > :nth-child(3) {
  grid-area: number;
  font-size: 18px;
  color: var(--color-text-2nd);
}
#votingBlock5Size > #rankedListBox > div > :nth-child(4) {
  grid-area: pLabel;
  font-size: 16px;
  color: var(--color-text-2nd);
  margin: 10px;
}
#votingBlock5Size > #rankedListBox > div > p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#votingBlock5Size > #rankedListBox > div:hover:not(:has(:nth-child(1):hover)):not(.selected) {
  border-color: var(--color-accent-1st);
  background-color: var(--color-accent-3rd);
  cursor: pointer;
}
#votingBlock5Size > #rankedListBox > div.selected {
  background-color: var(--color-accent-2nd);
  border: 1px solid var(--color-accent-1st);
}
#votingBlock5Size > #rankedEmbedBox {
  display: grid;
  justify-content: center;
  align-content: center;
  aspect-ratio: 16/9;
  width: 100%;
  background-color: var(--color-main-2nd);
  overflow: hidden;
  grid-area: vid;
}
#votingBlock5Size > #rankedEmbedBox > p {
  color: var(--color-text-2nd);
}
#votingBlock5Size > #rankedEmbedBox:has(iframe) > p {
  display: none;
}
#votingBlock5Size > #rankedEmbedBox:has(iframe) > svg {
  display: none;
}
#votingBlock5Size > div:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". b .";
  grid-area: vote;
}
#votingBlock5Size > div:nth-child(3) > button {
  grid-area: b;
}

#errField {
  grid-area: errBox;
  display: grid;
  justify-items: center;
  align-items: center;
}

#infoAndHelpBox {
  grid-area: infoAndHelpBox;
  display: grid;
  grid-template-columns: 1fr minmax(0px, 1000px) 1fr;
  grid-template-areas: ". c .";
  -moz-column-gap: 35px;
       column-gap: 35px;
}
#infoAndHelpBox > div {
  grid-area: c;
}
#infoAndHelpBox > div > p:nth-child(odd) {
  color: var(--color-text-2nd);
  margin-bottom: 25px;
}
#infoAndHelpBox > div > p:nth-child(1) {
  color: var(--color-text-1st);
}

#mainErrorPane {
  grid-area: mainErrorPane;
  display: grid;
  justify-items: center;
  align-items: center;
}
#mainErrorPane > p {
  text-align: center;
}
#mainErrorPane > p:nth-child(1) {
  font-size: 30px;
  color: var(--color-text-1st);
}
#mainErrorPane > p:nth-child(2) {
  color: var(--color-text-2nd);
}

.hidden {
  visibility: hidden;
  display: none !important;
}/*# sourceMappingURL=voting.css.map */