:root {
  --color-main-1st: #ffffff;
  --color-main-2nd: #f1f1f1;
  --color-main-3rd: #acacac;
  --color-main-4th: #c0c0c0;
  --color-trim-1st: #000000;
  --color-trim-2nd: #1d1d1da6;
  --color-trim-3rd: #1d1d1d9c;
  --color-text-1st: #222222;
  --color-text-2nd: #1d1d1d7a;
}

body {
  background-color: var(--color-main-1st);
  margin: 0;
  width: 100%;
  height: 100%;
  flex: 1;
  border: none;
  display: grid;
}

html {
  margin: 0;
  border: none;
  height: 100%;
  flex: 1;
}

p, li, label {
  color: var(--color-text-1st);
  font-size: 16px;
  font-family: Arial;
  padding: 0;
  margin: 0;
}

button {
  color: var(--color-text-1st);
  font-size: 16px;
  font-family: Arial;
}

h2 {
  color: var(--color-text-1st);
  font-size: 24px;
  font-family: Arial;
  text-align: left;
  padding: 8px;
  margin: 0;
  padding-left: 20px;
}

input {
  color: var(--color-text-1st);
  font-size: 16px;
  font-family: Arial;
  margin-top: 8px;
  margin-bottom: 8px;
}

select {
  color: var(--color-text-1st);
  font-size: 16px;
  font-family: Arial;
}

input:disabled {
  color: var(--color-text-2nd);
}

table {
  width: 100%;
  border-spacing: 0;
}

tr:nth-child(even) {
  background-color: var(--color-main-2nd);
}

tr:nth-child(odd) {
  background-color: var(--color-main-4th);
}

tr:nth-child(1) {
  background-color: transparent;
}

td, th, tr {
  color: var(--color-text-1st);
  font-size: 16px;
  font-family: Arial;
  padding: 2px 8px 2px 8px;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid var(--color-trim-3rd);
}

th {
  width: 1fr;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: transparent;
  outline: 1px solid var(--color-trim-1st);
}

body > #dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 25px 1fr;
  row-gap: 4px;
}
body > #dashboard > :nth-child(1) {
  background-color: var(--color-trim-3rd);
  padding-top: 12px;
  padding-left: 26px;
  border-bottom: 1px solid var(--color-trim-1st);
  display: grid;
  grid-template-columns: 135px 135px 135px 135px 1fr;
  grid-template-areas: "t1 t2 t3 t4.";
  column-gap: 0px;
}
body > #dashboard > :nth-child(1) > :nth-child(1) {
  grid-area: t1;
  border-right: none;
}
body > #dashboard > :nth-child(1) > :nth-child(2) {
  grid-area: t2;
  border-right: none;
  z-index: 0;
}
body > #dashboard > :nth-child(1) > :nth-child(3) {
  grid-area: t3;
  border-right: none;
  z-index: 0;
}
body > #dashboard > :nth-child(1) > :nth-child(4) {
  grid-area: t4;
  z-index: 0;
}
body > #dashboard > :nth-child(1) > * {
  height: calc(100% - 1px);
  border: 1px solid var(--color-trim-1st);
  background-color: var(--color-main-3rd);
  display: grid;
  justify-items: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
body > #dashboard > :nth-child(1) > * > p {
  user-select: none;
}
body > #dashboard > :nth-child(1) > .selected {
  padding-bottom: 1px;
  border-bottom: 1px solid var(--color-main-1st);
  background-color: var(--color-main-1st);
}
body > #dashboard > :nth-child(2) {
  padding-left: 30px;
  padding-right: 30px;
}
body > #dashboard > :nth-child(3) {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
body > #login {
  display: grid;
  padding: 30px;
}

#configRegion > form > p {
  padding-left: 18px;
  font-size: 14px;
  font-style: italic;
}
#configRegion > form > ul > li {
  font-style: italic;
  font-size: 14px;
}

#dashboardRegion {
  display: grid;
  grid-template-columns: 800px 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas: "selectBar  detailsPane" "pageSelect detailsPane" "tablePane  detailsPane";
  height: 100%;
  column-gap: 12px;
  row-gap: 8px;
}
#dashboardRegion > :nth-child(1) {
  grid-area: selectBar;
  display: grid;
  grid-template-columns: repeat(2, min-content) 1fr repeat(4, min-content);
  align-items: center;
  column-gap: 8px;
}
#dashboardRegion > :nth-child(2) {
  grid-area: pageSelect;
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content 1fr;
  grid-template-areas: ". a b c .";
  column-gap: 8px;
  align-items: center;
}
#dashboardRegion > :nth-child(2) > :nth-child(1) {
  grid-area: a;
}
#dashboardRegion > :nth-child(2) > :nth-child(2) {
  grid-area: b;
}
#dashboardRegion > :nth-child(2) > :nth-child(3) {
  grid-area: c;
}
#dashboardRegion > :nth-child(3) {
  grid-area: tablePane;
  overflow-y: scroll;
  border: 1px solid var(--color-trim-1st);
}
#dashboardRegion > :nth-child(4) {
  grid-area: detailsPane;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.unloaded {
  visibility: hidden;
  display: none !important;
}

.modifiedMarkerLabel {
  color: red;
  font-style: bold;
}

/*# sourceMappingURL=dashboard.css.map */
